<form [formGroup]="formModel" (ngSubmit)="onSearch()" novalidate>
  <!--表单的处理 商品名单-->
  <div class="form-group" [class.has-error]="formModel.hasError('minlength','title')">
    <label for="productTitle"> 商品名称： </label>
    <input formControlName="title" type="text" id="productTitle" placeholder="商品名称" class="form-control">
    <span class="help-block" [class.hidden]="!formModel.hasError('minlength','title')">
       please input at least three words.
    </span>
  </div>

  <div class="form-group">
    <label for="productPrice"> 商品价格： </label>
    <input type="number" id="productPrice" placeholder="商品价格" class="form-control">
  </div>

  <div class="form-group">
    <label for="productCategory"> 商品类别： </label>
    <select id="productCategory"class="form-control"></select>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-block">搜索</button>
  </div>
</form>

